<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
    <style>
    #box{
        height: 100px;
        width: 100px;
        background-color: {{color}};
        display: inline-block;
        border-radius: 10%;
        margin-right: 10px;
        }

    </style>
</head>
<body style="text-align:center">
    <h1 style='text-align:center'>Welcome!</h1>
    <div class="container">
    {% for i in range(number)%}
        <div id="box"></div>
    {%endfor%}
        <div id="box"></div>
        <div id="box"></div>
        
        
    </div>
</body>
</html>





